id  : {{id}}   <br/>
name: {{name}} <br/>
avg : {{avg}}  <br/><br/>

<b><u>Address</u></b><br/>
StreetNo: {{address.streetNo}} <br/>
City    : {{address.city}}     <br/>
State   : {{address.state}}    <br/><br/>

<b><u>Hobbies</u></b><br/>
<ul>
    <li *ngFor="let hobby of hobbies">{{hobby}}</li>
</ul>
